#entra_Dados{
    background: #a9b7f7;
    width: 500px;
    height: 353px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border-radius:10px ;
}
#inputs{
    display: flex;
    flex-direction: column; /* inputs em coluna */
    padding: 20px;
   /* border-radius: 10px;*/
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
}
#res{
    background: rgb(74, 236, 115);
    width: 500px;
    height: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}
#but_enviar{
    background-color: white;
    background: rgb(74, 236, 115);
    width: 60px;
    height: 30px;
    border-radius: 10px;
    margin-top: 5px;
}
